<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Encabezado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Encabezado</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment value="pizza" (ionChange)="segmentChanged($event)"
  scrolloable mode="ios">
    <ion-segment-button value="pizza">
      <ion-label>Pizza</ion-label>
    </ion-segment-button>
  </ion-segment> 

  
</ion-content>
